@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    font-family: Poppins;
    font-weight: 600;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
    box-shadow: 5px 10px 8px #888888;
}

header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 5px;
}

header a .logo {
    font-size: 25px;
    font-weight: bold;
}

.header-right {
    float: right;
}

header #logo-title {
    background: dodgerblue;
    font-weight: 700;
}

@media screen and (max-width: 500px) {
    header a {
        float: none;
        display: block;
        text-align: left;
    }
    
    .header-right {
        float: none;
    }
}

#form {
    text-align: center;
    margin: 20px;
}

#form input {
    margin-bottom: 0.79rem;
    padding: 5px;
    padding-right: 20px;
    padding-left: 20px;
}

#form h4 {
    margin-bottom: 0.53rem;
}

#form button {
    background-color: #000;
    border-radius: 5px;
    color: #eee;
    padding: 10px;
    border: none;
    padding-right: 20px;
    padding-left: 20px;
    cursor: pointer;
}

#features {
    margin: 20px;
    text-align: center;
}

#features h2 {
    text-align: left;
}

#features p {
    text-align: left;
}

#features .heading {
    font-size: 20px;
}

#how-it-works {
    text-align: center;
    margin: 20px;
}

#how-it-works iframe {
    width: 30vw;
}

@media (max-width: 900px) {
    #how-it-works iframe {
        width: 70vw;
    }
}


footer {
    background-color: #000;
    color: #eee;
    text-align: center;
    font-weight: 500;
}