@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root {
    --primary-grey: rgb(54, 57, 63);
    --secondary-grey: rgb(216, 216, 216);
    --primary-white: #eee;
    --primary-black: #000;
    --primary-orange: rgb(255, 128, 0);
    --secondary-orange: rgb(255, 151, 46);
    --primary-blue: dodgerblue;
    --secondary-blue: rgb(50, 224, 196);
}

* {
    font-family: Poppins;
    font-weight: 500;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

header {
    background-color: var(--primary-grey);
    top: 0;
    width: 100%;
    overflow: hidden;
    padding: 8px 6px;
    box-shadow: 2px 4px 3px black;
    position: fixed;
}

header a {
    float: left;
    text-align: center;
    padding: 10px;
    color: var(--primary-white);
    text-decoration: none;
    font-size: 14px;
    transition: 0.36s;
    border-radius: 8px;
}

header #nav-right {
    float: right;
}

@media (max-width: 500px) {
    header a {
        float: none;
        text-align: left;
        display: block;
    }

    header #nav-right {
        float: none;
    }
}

main {
    margin-top: 5.8rem;
}

@media screen and (max-width: 500px) {
    header {
        position: static;
    }
    main {
        margin-top: 3.275rem;
    }
}

#sign-in-form {
    text-align: center;
    margin-bottom: 50px;
}

label {
    margin-bottom: 10px;
}

input {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    margin-bottom: 15px;
    border: 1px solid var(--primary-black);
    border-radius: 3px;
}

@media screen and (max-width: 600px) {
    input {
        padding-right: 25px;
        padding-left: 25px;
    }
}


button, #make-account {
    padding: 5px;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 17px;
    cursor: pointer;
    background-color: var(--primary-blue);
    border: none;
    border-radius: 5px;
    transition: 0.4s;
    color: var(--primary-white);
}

@media screen and (max-width: 600px) {
    button, #make-account {
        padding: 3px;
        padding-right: 8px;
        padding-left: 8px;
    }
}

button:hover, #make-account:hover {
    box-shadow: 1px 2px 3px var(--primary-black);
}

#container {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
}

h4 {
    margin-bottom: 20px;
}

#make-account {
    text-decoration: none;
    font-size: 15px;
    color: var(--primary-white);
}

footer {
    text-align: center;
    padding: 0.7%;
    color: var(--primary-white);
    font-size: 20px;
    font-weight: 500;
    font-size: 13px;
    background-color: var(--primary-grey);
}

@media screen and (max-width: 400px) {
    footer {
        font-size: 15px;
    }
}