@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@300&display=swap');

:root {
    --primary-grey: rgb(54, 57, 63);
    --secondary-grey: rgb(216, 216, 216);
    --primary-white: #eee;
    --primary-black: #000;
    --primary-orange: rgb(255, 128, 0);
    --secondary-orange: rgb(255, 151, 46);
    --primary-blue: dodgerblue;
    --secondary-blue: rgb(50, 224, 196);
}

* {
    font-family: Poppins;
    font-weight: 500;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

header {
    background-color: var(--primary-grey);
    top: 0;
    width: 100%;
    overflow: hidden;
    padding: 8px 6px;
    box-shadow: 2px 4px 3px black;
    position: fixed;
}

header a {
    float: left;
    text-align: center;
    padding: 10px;
    color: var(--primary-white);
    text-decoration: none;
    font-size: 14px;
    transition: 0.36s;
    border-radius: 8px;
}

header #nav-right {
    float: right;
}

@media (max-width: 500px) {
    header a {
        float: none;
        text-align: left;
        display: block;
    }

    header #nav-right {
        float: none;
    }
}

main {
    margin-top: 5.8rem;
}

@media screen and (max-width: 500px) {
    header {
        position: static;
    }
    main {
        margin-top: 3.275rem;
    }
}

#heading-area {
    text-align: center;
    margin-bottom: 20px;
}

.blog-author {
    font-size: 1.2rem;
}

.blog-heading {
    font-size: 1.3rem;
}

.blog-details {
    font-size: 0.8rem;
}

.blog-image {
    width: 35%;
    height: 200px;
    border-radius: 5px;
}

@media screen and (min-width: 1600px) {
    .blog-image {
        height: 300px;
    }
}

@media screen and (max-width: 960px) {
    .blog-image {
        width: 50%;
    }

    .blog-heading {
        font-size: 1rem;
    }

    .details-container {
        display: block;
    }
}

@media screen and (max-width: 800px) {
    .blog-container {
        display: block;
    }

    .blog-image {
        width: 60%;
    }
}

@media screen and (max-width: 500px) {
    .blog-image {
        height: 150px;
    }
}

#main-area {
    width: 50%;
    margin: auto;
    text-align: left;
}

@media screen and (max-width: 600px) {
    #main-area {
        width: 75%;
    }
}

button {
    padding: 2px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: var(--primary-blue);
    border: none;
    border-radius: 10px;
    color: var(--primary-white);
    margin-left: 8px;
}

footer {
    text-align: center;
    padding: 0.7%;
    color: var(--primary-white);
    font-size: 20px;
    font-weight: 500;
    font-size: 13px;
    background-color: var(--primary-grey);
}

@media screen and (max-width: 400px) {
    footer {
        font-size: 15px;
    }
}