@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root {
    --primary-grey: rgb(54, 57, 63);
    --primary-black: #000;
    --primary-white: #eee;
    --secondary-grey: rgb(235, 232, 232);
    --primary-orange: #e27d60;
    --primary-blue: #85dcb8;
    --secondary-orange: #e8a87c;
    --primary-pink: #c38d9e;
    --secondary-blue: #41b3a3;
}

* {
    font-family: Poppins;
    font-weight: 600;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

header {
    background-color: var(--primary-grey);
    top: 0;
    width: 100%;
    overflow: hidden;
    padding: 8px 6px;
    box-shadow: 2px 4px 3px black;
    position: fixed;
}

header a {
    float: left;
    text-align: center;
    padding: 14px;
    color: var(--primary-white);
    text-decoration: none;
    font-size: 17px;
    transition: 0.36s;
    border-radius: 8px;
}

header a:hover {
    background: var(--primary-black);
}

header #nav-right {
    float: right;
}

@media (max-width: 500px) {
    header a {
        float: none;
        text-align: left;
        display: block;
    }

    header #nav-right {
        float: none;
    }
}

main {
    margin-top: 5.8rem;
}

@media screen and (max-width: 500px) {
    header {
        position: static;
    }
    main {
        margin-top: 3.275rem;
    }
}

.container {
    text-align: center;
    display: flex;
    padding-top: 3rem;
}

.blog {
    border-radius: 5px;
    width: 20%;
    height: 15rem;
    margin: auto;
    border: 1px solid black;
    transition: 0.2s;
    cursor: pointer;
    background: white;
}

#blogs {
    padding-bottom: 50px;
}

.heading {
    font-size: 1.5rem;
}

@media screen and (max-width: 1270px) {
    .heading {
        font-size: 1.2rem;
    }
}

.blog:hover {
    box-shadow: 2px 5px 4px #888888;
}

@media screen and (max-width: 950px) {
    .heading {
        font-size: 1rem !important;
    }
    .feature-text {
        font-size: 0.9rem;
    }
    .feature {
        width: 30%;
    }
}

@media screen and (max-width: 850px) {
    .blog {
        width: 50%;
    }

    .container {
        display: block;
    }
    #blog-1 {
        margin-bottom: 30px;
    }
    
    #blog-2 {
        margin-bottom: 30px;
    }
    
    #blog-3 {
        margin-bottom: 30px;
    }
}

.blog-text {
    margin-top: 2rem;
    text-align: center;
}

.heading {
    background-color: var(--secondary-grey);
}

#blog-heading {
    text-align: center;
    font-size: 2rem;
}

@media screen and (max-width: 800px) {
    #blog-heading {
        font-size: 1.6rem;
    }
}

.blog-link, button {
    text-decoration: none;
    color: var(--primary-black);
    padding: 5px;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 17px;
    cursor: pointer;
    background-color: var(--primary-blue);
    border: none;
    border-radius: 5px;
    transition: 0.4s;
}

.feature-text {
    margin-bottom: 20px;
}

.blog-link:hover, button:hover {
    box-shadow: 1px 2px 3px var(--primary-black);
}

#your-blog {
    margin-right: 20px;
    margin-left: 20px;
    text-align: center;
}

button {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 5%;
    color: var(--primary-white);
    font-size: 20px;
    font-weight: 500;
    background-color: var(--primary-grey);
}

@media screen and (max-width: 400px) {
    footer {
        font-size: 15px;
    }
}