@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@300&display=swap');

:root {
    --primary-grey: rgb(54, 57, 63);
    --secondary-grey: rgb(216, 216, 216);
    --primary-white: #eee;
    --primary-black: #000;
    --primary-orange: rgb(255, 128, 0);
    --secondary-orange: rgb(255, 151, 46);
    --primary-blue: dodgerblue;
    --secondary-blue: rgb(50, 224, 196);
}

* {
    font-family: Poppins;
    font-weight: 500;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

header {
    background-color: var(--primary-grey);
    top: 0;
    width: 100%;
    overflow: hidden;
    padding: 8px 6px;
    box-shadow: 2px 4px 3px black;
    position: fixed;
}

header a {
    float: left;
    text-align: center;
    padding: 10px;
    color: var(--primary-white);
    text-decoration: none;
    font-size: 14px;
    transition: 0.36s;
    border-radius: 8px;
}

header a:last-child {
    background-color: var(--primary-black);
}

header #nav-right {
    float: right;
}

@media (max-width: 500px) {
    header a {
        float: none;
        text-align: left;
        display: block;
    }

    header #nav-right {
        float: none;
    }
}

main {
    margin-top: 5.8rem;
}

@media screen and (max-width: 500px) {
    header {
        position: static;
    }
    main {
        margin-top: 3.275rem;
    }
}

#get-started-top {
    text-align: left;
    padding-bottom: 70px;
    padding-left: 70px;
    display: flex;
}

#get-started-top-image {
    width: 640px;
    height: 360px;
    margin-left: auto;
    max-width: 100%;
}

@media screen and (max-width: 1000px) {
    #get-started-top-image {
        width: 320px;
        height: 180px;
    }
}

@media screen and (max-width: 800px) {
    #get-started-top {
        padding-left: 50px;
    }
}

@media screen and (max-width: 600px) {
    #get-started-top {
        padding-left: 30px;
        display: block;
        text-align: center;
    }
    #left-area {
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 500px) {
    #get-started-top {
        padding-left: 10px;
    }
}

#img-container {
    text-align: right;
}

.title {
    font-size: 20px;
    margin-bottom: 8px;
}

#title-desc {
    font-size: 13px;
    margin-bottom: 30px;
}

.descr-link {
    border-radius: 5px;
    padding: 0.6rem;
    font-size: 13px;
    background-color: var(--primary-orange);
    color: var(--primary-black);
    text-decoration: none;
    transition: 0.3s;
    color: var(--primary-white);
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
}

.descr-link:hover {
    box-shadow: 1px 2px 3px var(--primary-black);
    padding-right: 1rem;
    padding-right: 1rem;
    padding: 1rem;
}

@media screen and (max-width: 400px) {
    #sign-up-link {
        padding: 0.6rem;
    }
}

#how-we-best {
    margin: auto;
    padding-bottom: 70px;
    padding-left: 70px;
    padding-right: 70px;
    width: 70%;
}

@media screen and (max-width: 1000px) {
    #how-we-best {
        width: 80%;
    }
}

@media screen and (max-width: 800px) {
    #how-we-best {
        width: 85%;
    }
}

@media screen and (max-width: 600px) {
    #how-we-best {
        width: 90%;
        padding-left: 10px;
        padding-right: 10px;
    }
}

#heading-text {
    font-size: 25px;
}

#how-we-best-heading {
    letter-spacing: 3px;
    margin-bottom: 20px;
}

#left-text {
    margin-top: 70px;
    border-radius: 8px;
    padding: 20px;
    background-color: var(--secondary-grey);
    margin: auto;
}

.list-text {
    margin-bottom: 13px;
    font-family: Hahmlet;
}

.container {
    text-align: center;
    display: flex;
    padding-top: 3rem;
}

.feature {
    border-radius: 3px;
    width: 20%;
    height: 15rem;
    margin: auto;
    border: 1px solid black;
    transition: 0.2s;
    cursor: pointer;
    background: white;
}

#features {
    padding-bottom: 50px;
    text-align: center;
}

.heading {
    font-size: 1.5rem;
}

@media screen and (max-width: 1270px) {
    .heading {
        font-size: 1.2rem;
    }
}

.feature:hover {
    box-shadow: 2px 5px 4px #888888;
    transform: translate(0, -10px);
}

.feature-descr {
    font-family: Hahmlet !important;
}

@media screen and (max-width: 950px) {
    .heading {
        font-size: 1rem !important;
    }
    .feature-text {
        font-size: 0.9rem;
    }
    .feature {
        width: 30%;
    }
}

@media screen and (max-width: 850px) {
    .feature {
        width: 50%;
    }

    .container {
        display: block;
    }
    
    #feature-1 {
        margin-bottom: 30px;
    }
    
    #feature-2 {
        margin-bottom: 30px;
    }
    
    #feature-3 {
        margin-bottom: 30px;
    }
}

.blog-text {
    margin-top: 2rem;
    text-align: center;
}

.heading {
    background-color: var(--secondary-grey);
}

#feature-heading {
    text-align: center;
}

#get-started-bottom {
    text-align: center;
    padding-bottom: 70px;
    padding-left: 70px;
}

@media screen and (max-width: 800px) {
    #blog-heading {
        font-size: 1.2rem;
    }
    #get-started-bottom {
        padding-left: 0;
        font-size: 13px;
    }
    .left-area-text {
        font-size: 15px;
    }
    .descr-link {
        padding: 0.4rem;
    }
}

footer {
    text-align: center;
    padding: 0.7%;
    color: var(--primary-white);
    font-size: 20px;
    font-weight: 500;
    font-size: 13px;
    background-color: var(--primary-grey);
}

@media screen and (max-width: 400px) {
    footer {
        font-size: 15px;
    }
}